{{ partial "head.html" . }}
  <body>

{{ partial "sidebar.html" . }}

    <div class="content container">
      <h1 class="title">Blog Posts</h1>
      <h2 class="title">in English</h2>
      <ul class="posts">
        <li><span><a href="https://mobilabsolutions.com/2019/01/why-we-switched-to-cilium/">Why We Switched to Cilium</a><time class="pull-right post-list">Tue, Jan 22, 2019</time></span></li>
        {{ range .Data.Pages }}
        <li><span>{{if .Draft}}[draft] {{end}}<a href="{{ .Permalink }}">{{ .Title }}</a><time class="pull-right post-list">{{ .Date.Format "Mon, Jan 2, 2006" }}</time></span></li>
        {{ end }}
      </ul>

    </br>
      <h2 class="title">in Turkish</h2>
      <ul class="posts">
        <li><span><a href="https://medium.com/kodgemisi/spring-boot-ile-%C3%B6rnek-web-uygulamas%C4%B1-914c94c9099f">Spring Boot ile Örnek Web Uygulaması</a><time class="pull-right post-list">Sun, Aug 25, 2015</time></span></li>
      </ul>
    </div>

  </body>
</html>
